---
layout: default
---
{% include header.html %}
<div class="blog-screen">
	<div class="container">
		<div class='row masonry'>
			{% for post in paginator.posts %}
				<div class='col-xl-4 col-sm-6 col-12'>
					<div class="blog-overview-item item">
						<a href="{{ site.baseurl }}{{ post.url }}">
							<!-- <img src="{{ site.baseurl }}/assets/images/{{ post.image }}" alt="" /> -->
							<img src="http://lorempixel.com/303/211/" alt="{{ post.title }}" class="image img-responsive" />
							<div class="container">
								<h3>{{ post.title }}</h3>
								</a>
								<p>Posted {{ post.date | date_to_string }}</p>
								<p>{{ post.excerpt }}</p>
							</div>
						<a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Continue Reading</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	<nav class="pagination">
        {% if paginator.next_page %}
            <a class="older-posts" href="{{paginator.next_page_path}}">Older posts</a>
        {% endif %}
        {% if paginator.previous_page %}
            {% if paginator.page == 2 %}
            <a class="newer-posts" href="/">Newer posts</a>
            {% else %}
            <a class="newer-posts" href="{{paginator.previous_page_path}}">Newer posts </a>
            {% endif %}
        {% endif %}
        </nav>
</div>
{% include blog.html %}
{% include footer.html %}