<div class="blog-screen">
	<div class="container">
		<div class='row masonry overview'>
			{% for post in paginator.posts %}
				<div class='col-xl-4 col-sm-6 col-12'>
					<div class="blog-overview-item item">
						<a href="{{ site.baseurl }}{{ post.url }}">
							<img src="{{ site.baseurl }}{{ post.tump }}" alt="tumpnail" />
							<div class="container">
								<h3>{{ post.title }}</h3>
								</a>
								<p>Posted {{ post.date | date_to_string }}</p>
								<p>{{ post.excerpt }}</p>
							</div>
						<a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Continue Reading</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	<div class="container">
		<div class='row'>
			<div class='col-xs-offset-4 col-xs-4'>
				{% if paginator.total_pages > 1 %}
					<nav class="pagination text-center">
					{% if paginator.next_page %}
						<a class="older-posts" href="{{paginator.next_page_path}}">Older posts</a>
					{% endif %}
					{% if paginator.previous_page %}
						{% if paginator.page == 2 %}
						<a class="newer-posts" href="/">Newer posts</a>
						{% else %}
						<a class="newer-posts" href="{{paginator.previous_page_path}}">Newer posts </a>
						{% endif %}
					{% endif %}
					</nav>
				{% endif %}
			</div>
		</div>
	</div>
</div>