<!DOCTYPE HTML>
<html lang="en">
<html>
	<head>
    	<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="description" content="Less then 30 year old developer from Antwerp with a passion for API's and everything that surrounds them. Works as a Software Engineer at madewithlove and is co-organiser of PHPAntwerp">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<title>Frederick Vanbrabant delirious rantings</title>

    	<!-- Disable tap highlight on IE -->
    	<meta name="msapplication-tap-highlight" content="no">

    	<!-- Web Application Manifest -->
    	<link rel="manifest" href="/assets/manifest.json">

    	 <!-- Add to homescreen for Chrome on Android -->
	    <meta name="mobile-web-app-capable" content="yes">
	    <meta name="application-name" content="Frederick Vanbrabant delirious rantings">
	    <link rel="icon" sizes="192x192" href="/assets/images/touch/chrome-touch-icon-192x192.png">

	    <!-- Add to homescreen for Safari on iOS -->
	    <meta name="apple-mobile-web-app-capable" content="yes">
	    <meta name="apple-mobile-web-app-status-bar-style" content="black">
	    <meta name="apple-mobile-web-app-title" content="Frederick Vanbrabant delirious rantings">
	    <link rel="apple-touch-icon" href="/assets/images/touch/chrome-touch-icon-192x192.png">

	    <!-- Tile icon for Win8 (144x144 + tile color) -->
	    <meta name="msapplication-TileImage" content="/assets/images/touch/chrome-touch-icon-144x144.png">
	    <meta name="msapplication-TileColor" content="#d52349">

	    <!-- Color the status bar on mobile devices -->
    	<meta name="theme-color" content="#d52349">

    	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

		<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/style.css" />
		{% seo %}
	</head>

