.footer {
    background: #302a2c;
    border: 1px solid #302a2c;
    width: 100%;
    display: table;
    padding: 20px 40px;
    text-decoration: none;
}

.footer h2 {
    color: white;
    text-transform: uppercase;
}

.footer h3 {
    color: white;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.footer p {
    color: white;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 2px;
}