.blog-title {
    padding-top: 3em;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
}

blockquote {
    background: #302a2c;
    color:white;
    width: 100%;
    border: none;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before,
blockquote:after {
    color: #ccc;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
}
blockquote:before {
    content: open-quote;
    vertical-align: -0.4em;
}
blockquote:after {
    content: close-quote;
    vertical-align: -0.6em;
}
blockquote p {
    display: inline;
}

.blog-body {
    color: black;
    font-size: 19px;
    font-style: normal;
    letter-spacing: -0.063px;
    line-height: 33.18px;
}

.blog-body p {
    font-weight: normal;
}

.blog-body img {
    max-width: 100%;
}

.blog-body .highlight {
    font-weight: normal;
    font-size: 19px;
    border-radius: inherit;
}

