.bio-card {
    background: #eeeeee;
    border: 1px solid #e1e1e1;
    width: 100%;
    display: table;
    padding: 20px 40px;
    text-decoration: none;
    margin-bottom: 3em;
}

.bio-card-txt {
    color: black;
    font-size: 19px;
    font-style: normal;
    letter-spacing: -0.063px;
}