{% include header.html %}
<body>
{% include header_post.html %}
<div id="main-wrapper">
	<div class="container">
		<div class="row">
			<div class="col">
			<!-- Blog -->
				<section>
					<header class="blog-title">
						<h1>{{ page.title }}</h1>
						<p>Posted {{ page.date | date_to_string }} - {% include reading-time.html %}</p>
					</header>
					<div class="row blog-body">
						<div class="col">
							<section>
								{{ page.content }}
							</section>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>
{% include footer-who.html %}
{% include footer.html %}