<div class="container">
        <div class="row justify-content-center">
            <div class="col-9">
                <div class="bio-card">
                    <div class="row bio-card-body">
                        <div class="col-xs-12 col-md-5 bio-card-image">
                            <a href="https://twitter.com/maybeFrederick">
                                <img src="/assets/images/my-face.jpg" alt="my face" class="img-responsive" />
                            </a>
                        </div>
                        <div class="col-xs-12 col-md-7 bio-card-txt">
                            <h2>Hey thanks for reading!</h2>
                            <p>Hope you enjoyed this post. There is no comments section here, if you've ever seen the YouTube comments
                                section you'll probably understand why. If you have any remarks or comments on this topic, please
                                dont hesitate to reach out on
                                <a href="https://twitter.com/maybeFrederick">Twitter</a> or send me a
                                <a href="mailto:frederick@brodyandhooper.com" target="_top">mail.</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>